@charset "UTF-8";

@font-face {
  font-family: 'HurmeGeometricSans3-Bold';
  src: local('HurmeGeometricSans3-Bold'),
    url('../fonts/HurmeGeometricSans3-Bold.woff2') format('truetype');
}

@font-face {
  font-family: 'HurmeGeometricSans3-Regular';
  src: local('HurmeGeometricSans3-Regular'),
    url('../fonts/HurmeGeometricSans3-Regular.woff2') format('truetype');
}

@font-face {
  font-family: 'HurmeGeometricSans3-Black';
  src: local('HurmeGeometricSans3-Black'),
    url('../fonts/HurmeGeometricSans3-Black.woff2') format('truetype');
}

@font-face {
  font-family: 'HurmeGeometricSans3-Light';
  src: local('HurmeGeometricSans3-Light'),
    url('../fonts/HurmeGeometricSans3-Light.woff2') format('truetype');
}

$font-regular: 'HurmeGeometricSans3-Regular', sans-serif;
$font-bold: 'HurmeGeometricSans3-Bold', sans-serif;
$font-black: 'HurmeGeometricSans3-Black', sans-serif;
$font-light: 'HurmeGeometricSans3-Light', sans-serif;

$primary: #14284b;
$secondary: #eeebe6;
$white: #ffffff;
$bg-primary: #14284b;
$bg-secondary: #eeebe6;
$bg-tertiary: #72b1c3;
$bg-fourtiary: #e5dcd3;

#es-rc #es-rc-content {
  font-family: $font-regular, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  color: $primary;
  background: #fff;

  * {
    box-sizing: border-box;
  }

  p {
    margin: 0;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }

  img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }

  .es-kv {
    background: url(../images/kv-bg.png) no-repeat center center;
    background-size: cover;
    padding-bottom: 75px;

    &__logo {
      padding-top: 30px;
      margin-bottom: 30px;
      max-width: 90%;
    }

    &__content {
      padding-left: 10px;
      padding-right: 10px;
      text-align: center;
    }

    &__title {
      margin-bottom: 10px;
      font-size: 70px;
      font-family: $font-black;
      font-weight: 900;
      color: inherit;
    }

    &__subtitle {
      margin-bottom: 30px;
      font-size: 18px;
      font-family: $font-bold;
      font-weight: 700;
    }

    &__description {
      margin-bottom: 20px;
      font-family: $font-bold;
      font-weight: 700;
    }

    &__packshot {
      max-width: 30%;
    }
  }

  .es-description {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    flex-direction: column-reverse;

    background: -webkit-gradient(linear,
        left top,
        left bottom,
        color-stop(50%, $bg-tertiary),
        color-stop(50%, $bg-primary));

    background: linear-gradient(to bottom, $bg-tertiary 50%, $bg-primary 50%);

    &__left {
      padding: 30px 10px;
      padding-left: 0;
    }

    &__right {
      padding: 30px 10px;
    }

    &__img {
      margin-top: -65px;
    }

    &__title {
      margin-bottom: 35px;
      font-size: 16px;
      font-family: $font-bold;
      font-weight: 700;
      color: $secondary;
      text-align: center;
    }

    &__subtitle {
      margin-bottom: 35px;
      font-size: 16px;
      font-family: $font-regular;
      font-weight: 500;
      color: $secondary;
      text-align: center;
    }
  }

  .es-style {
    background: $bg-primary;
    padding-bottom: 50px;
    margin-top: -1px;

    &__title {
      margin-bottom: 20px;
      text-align: center;
      font-size: 24px;
      font-family: $font-bold;
      color: $white;
      text-align: center;
    }

    &__subtitle {
      margin-bottom: 10px;
      font-size: 18px;
      font-family: $font-bold;
      color: $white;
      text-align: center;
    }

    &__description {
      padding-left: 10px;
      padding-right: 10px;
      margin-bottom: 20px;
      max-width: 450px;
      margin: 0 auto;
      font-size: 16px;
      font-family: $font-regular;
      color: $white;
      text-align: center;
    }

    &__packshot-title {
      margin-top: 20px;
      margin-bottom: 30px;
      font-size: 24px;
      font-family: $font-bold;
      color: $white;
      text-align: center;
    }

    &__img {
      max-width: 25%;

      &--desktop {
        max-width: 100%;
        display: none;
      }
    }

    &__packshot-wrapper {
      display: none;
    }
  }

  .es-benefits {
    padding-top: 30px;
    padding-bottom: 30px;
    background: -webkit-gradient(linear,
        left top,
        left bottom,
        color-stop(20%, $bg-secondary),
        color-stop(50%, $bg-tertiary));
    background: $bg-tertiary;

    &__img {
      margin-bottom: 30px;
    }

    &__title {
      padding-left: 10px;
      padding-right: 10px;
      margin-bottom: 30px;
      font-size: 24px;
      font-family: $font-bold;
      text-align: center;
    }

    &__subtitle {
      padding-left: 10px;
      padding-right: 10px;
      margin-bottom: 10px;
      font-size: 16px;
      text-align: left;
      font-family: $font-bold;
      color: $primary;
    }

    &__description {
      padding-left: 10px;
      padding-right: 10px;
      margin-bottom: 20px;
      font-size: 16px;
      font-family: $font-regular;
    }

    &__content-title {
      max-width: 300px;
      margin: 0 auto;
      margin-bottom: 30px;
      font-size: 24px;
      font-family: $font-bold;
      color: $white;
      text-align: center;
    }

    &__content-list {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      -webkit-box-align: center;
      align-items: center;
      gap: 30px;
    }

    &__content-list-item {
      max-width: 250px;
    }

    &__content-list-item-image {
      margin-bottom: 20px;
    }

    &__content-list-item-title {
      margin-bottom: 20px;
      padding-left: 10px;
      padding-right: 10px;
      margin-bottom: 20px;
      font-size: 16px;
      font-family: $font-regular;
      color: $white;
      text-align: center;
    }
  }

  .es-features {
    margin-top: -1px;
    background: -webkit-gradient(linear,
        left top,
        left bottom,
        color-stop(10%, #72b1c3),
        color-stop(10%, #eeebe6));
    background: linear-gradient(to bottom, #72b1c3 10%, #eeebe6 10%);

    &__bottle-content {
      padding-bottom: 50px;
    }

    &__title {
      padding-left: 10px;
      padding-right: 10px;
      margin-bottom: 30px;
      font-size: 24px;
      font-family: $font-bold;
      text-align: center;
    }

    &__description {
      padding-left: 10px;
      padding-right: 10px;
      margin-bottom: 20px;
      font-size: 16px;
      font-family: $font-regular;
    }

    &__img {
      margin-bottom: 30px;
    }

    &__bottle-content-image {
      margin-bottom: 30px;
      max-width: 40%;
    }

    &__bottle-content-icons {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      gap: 30px;
    }

    &__bottle-content-single {
      margin-bottom: 30px;
      max-width: 250px;
      margin: 0 auto;
    }

    &__bottle-content-icon-image {
      margin-bottom: 20px;
    }

    &__bottle-content-icon-title {
      font-size: 16px;
      font-family: $font-regular;
      text-align: center;
    }

    &__bottle-content {
      &--desktop {
        display: none;
      }
    }
  }

  .es-steps {
    background: $bg-secondary;
    padding-bottom: 50px;

    &__group {
      position: relative;
    }

    &__label {
      position: absolute;
      font-family: $font-regular;
      font-size: clamp(8px, 2.5vw, 30px);
      font-weight: 700;
      color: #fff;
      text-transform: uppercase;
      width: clamp(50px, 20vw, 250px);
      height: clamp(50px, 20vw, 250px);
      border-radius: 50%;
      background-color: #e46c5c;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 10px;
      line-height: 1.2;
      top: 38%;
      right: 22%;
    }

    &__text {
      position: absolute;
      font-family: $font-bold;
      font-size: 20px;
      font-size: clamp(18px, 5vw, 70px);
      font-weight: 700;
      color: #fff;
      opacity: 0.8;


      &--first {
        top: 5%;
        left: 10%;
      }

      &--second {
        top: 5%;
        left: 40%;
      }

      &--third {
        top: 5%;
        right: 3%;
      }
    }

    &__image {
      margin-bottom: 30px;
    }

    &__list {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      -webkit-box-align: center;
      align-items: center;
      gap: 30px;
    }

    &__single {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      -webkit-box-align: center;
      align-items: center;
      gap: 20px;
      max-width: 275px;
    }

    &__single-title {
      font-size: 30px;
      margin-bottom: 10px;
      font-family: $font-bold;
      text-align: center;
    }

    &__single-description {
      padding-left: 10px;
      padding-right: 10px;
      margin-bottom: 20px;
      font-size: 16px;
      font-family: $font-regular;
      text-align: center;
    }
  }

  .es-restrictions {
    background-color: $bg-primary;
    position: relative;
    padding-bottom: 20px;

    &__image {
      position: absolute;
      margin-top: -30px;
      top: 0;
      left: 0;
    }

    &__description {
      padding-top: 60%;
      padding-left: 10px;
      padding-right: 10px;
      margin-bottom: 20px;
      font-size: 16px;
      font-family: $font-regular;
      color: $secondary;
      text-align: center;

      &--bold {
        display: block;
        font-family: $font-bold;
      }
    }

    &__disclaimer {
      padding-left: 20px;
      padding-right: 20px;
      margin-bottom: 20px;
      font-size: 12px;
      font-family: $font-regular;
      color: $secondary;
      text-align: right;
    }
  }

  .es-design {
    background: -webkit-gradient(linear,
        left top,
        left bottom,
        color-stop(95%, $bg-fourtiary),
        color-stop(10%, $bg-secondary));
    background: linear-gradient(to bottom,
        $bg-fourtiary 95%,
        $bg-secondary 10%);
    padding-top: 100%;
    position: relative;
    padding-bottom: 30px;

    &__title {
      padding-left: 10px;
      padding-right: 10px;
      margin-bottom: 30px;
      font-size: 24px;
      font-family: $font-bold;
      text-align: center;
    }

    &__description {
      padding-left: 10px;
      padding-right: 10px;
      margin-bottom: 20px;
      font-size: 16px;
      font-family: $font-regular;

      & b {
        font-family: $font-bold;
      }
    }

    &__left-image {
      position: absolute;
      top: 0;
      left: 0;
      margin-top: -20px;
    }

    &__content {
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 20px;
    }
  }

  .es-cross {
    background: $bg-secondary;
    padding-bottom: 30px;

    &__title {
      padding-left: 10px;
      padding-right: 10px;
      margin-bottom: 30px;
      font-size: 24px;
      font-family: $font-bold;
      text-align: center;
    }

    &__subtitle {
      padding-left: 10px;
      padding-right: 10px;
      margin-bottom: 20px;
      font-size: 16px;
      font-family: $font-regular;
      text-align: center;
    }

    &__single-image {
      max-width: 75%;
      margin-bottom: 30px;
    }

    &__items {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      -webkit-box-align: center;
      align-items: center;
      gap: 20px;
    }

    &__single-item-title {
      padding-left: 10px;
      padding-right: 10px;
      margin-bottom: 10px;
      font-size: 20px;
      font-family: $font-bold;
      text-align: center;
    }

    &__single-description {
      padding-left: 10px;
      padding-right: 10px;
      margin-bottom: 20px;
      font-size: 16px;
      font-family: $font-regular;
      text-align: center;
    }
  }

  .es-footer {
    background: $bg-secondary;
    padding-bottom: 30px;

    &__image {
      max-width: 90%;
      margin-bottom: 20px;
    }

    &__subtitle {
      margin-bottom: 30px;
      font-size: 16px;
      font-family: $font-bold;
      font-weight: 700;
      text-align: center;
    }
  }

  @media screen and (min-width: 500px) {
    .es-benefits {
      &__content-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        max-width: 500px;
        margin: 0 auto;
      }

      &__content-list-item {
        max-width: 220px;
      }
    }
  }

  @media screen and (min-width: 567px) {
    .es-description {
      &__img {
        max-width: 450px;
        margin-left: 0;
      }
    }

    .es-benefits {
      &__img {
        max-width: 450px;
        margin-right: 0;
      }
    }

    .es-features {
      &__img {
        max-width: 450px;
        margin-left: 0;
      }
    }

    .es-design {
      padding-top: 455px;

      &__left-image {
        max-width: 450px;
        margin-left: 0;
      }

      &__right-image {
        max-width: 450px;
        margin-right: 0;
      }
    }
  }

  @media screen and (min-width: 768px) {
    .es-kv {
      position: relative;
      min-height: 600px;

      &__logo {
        max-width: 40%;
        margin-left: 35px;
        padding-top: 100px;
        margin-bottom: 0;
        max-width: 30%;
      }

      &__content {
        margin-left: 35px;
        padding-left: 0;
        max-width: 500px;
        text-align: left;
      }

      &__title {
        font-size: 110px;
      }

      &__subtitle {
        margin-bottom: 100px;
        font-size: 32px;
      }

      &__description {
        max-width: 300px;
      }

      &__packshot {
        position: absolute;
        top: 10%;
        right: 16%;
        max-width: 160px;
      }
    }

    .es-description {
      padding-top: 50px;
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      flex-direction: row;
      -webkit-box-pack: justify;
      justify-content: space-between;
      background: -webkit-gradient(linear,
          left top,
          left bottom,
          color-stop(85%, #72b1c3),
          color-stop(50%, #14284b));
      background: linear-gradient(to bottom, #72b1c3 85%, #14284b 50%);

      &__right {
        max-width: 310px;
        margin-right: 8%;
      }

      &__img {
        margin-top: -150px;
        max-width: 380px;
        position: relative;
        z-index: 1;
      }
    }

    .es-style {
      background: -webkit-gradient(linear,
          left top,
          left bottom,
          color-stop(75%, #14284b),
          color-stop(50%, #eeebe6));
      background: linear-gradient(to bottom, #14284b 75%, #eeebe6 50%);
      padding-bottom: 0;

      &__title {
        font-size: 45px;
        margin-bottom: 100px;
      }

      &__description {
        margin: 0 auto;
        margin-bottom: 30px;
        max-width: 545px;
        font-size: 20px;
      }

      &__packshots {
        display: none;
      }

      &__packshot-wrapper {
        display: block;
        position: relative;
        max-width: 735px;
        margin: 0 auto;
      }

      &__packshot-desktop-title {
        position: absolute;
        font-size: 24px;
        font-family: $font-bold;
        color: $white;

        &--1 {
          top: 40%;
          left: 4%;
          max-width: 100px;
        }

        &--2 {
          top: -24%;
          left: 37%;
        }

        &--3 {
          top: 40%;
          right: 4%;
          max-width: 100px;
        }
      }
    }

    .es-benefits {
      padding-top: 0;
      background: -webkit-gradient(linear,
          left top,
          left bottom,
          color-stop(41%, #eeebe6),
          color-stop(30%, #72b1c3));
      background: linear-gradient(to bottom, #eeebe6 41%, #72b1c3 30%);

      &__title {
        font-size: 24px;
      }

      &__inner {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        justify-content: space-around;
      }

      &__img {
        max-width: 380px;
        margin-right: 0;
      }

      &__content-list {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        -webkit-box-align: start;
        align-items: flex-start;
        -webkit-box-pack: center;
        justify-content: center;
        max-width: none;
        flex-wrap: nowrap;
      }

      &__content-title {
        &--2 {
          max-width: 320px;
          margin-left: 30px;
          margin-top: -145px;
        }
      }

      &__content-wrapper {
        padding-top: 60px;
        padding-left: 25px;
        max-width: 335px;
      }

      &__content-list-item {
        min-width: 125px;
        max-width: 190px;
      }

      &__content-list-item-title {
        font-size: 14px;
      }

      &__content-list-item-image {
        max-width: 100px;
      }
    }

    .es-features {
      &__wrapper {
        display: -webkit-box;
        display: flex;
      }

      &__inner {
        padding-top: 200px;
      }

      &__title {
        text-align: left;
      }

      &__bottle-content {
        &--desktop {
          display: block;
          position: relative;
          max-width: 735px;
          margin: 0 auto;
        }

        &--mobile {
          display: none;
        }
      }

      &__bottle-content-image {
        max-width: 75%;
      }

      &__bottle-content-icon-title {
        position: absolute;
        max-width: 250px;

        &--1 {
          left: 3%;
          top: 45%;
        }

        &--2 {
          top: 26%;
          right: 7%;
        }

        &--3 {
          top: 71%;
          right: 3%;
        }
      }

      &__inner {
        padding-top: 135px;
        margin-right: 5%;
        max-width: 37%;
      }
    }

    .es-steps {
      &__list {
        gap: 0;
        -webkit-box-pack: center;
        justify-content: center;
      }

      &__single {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        -webkit-box-pack: center;
        justify-content: center;
        max-width: 675px;

        &--2 {
          margin-left: -1%;
          margin-top: -0.2%;
        }

        &--3 {
          margin-left: -2%;
          margin-top: -0.1%;
        }
      }

      &__single-title {
        font-size: 57px;

        &--2 {
          -webkit-box-ordinal-group: 4;
          order: 3;
        }
      }

      &__single-image {
        &--2 {
          -webkit-box-ordinal-group: 3;
          order: 2;
        }
      }

      &__single-description {
        font-size: 18px;

        &--2 {
          -webkit-box-ordinal-group: 2;
          order: 1;
        }
      }
    }

    .es-restrictions {
      &__disclaimer {
        max-width: 50%;
        margin-left: auto;
      }
    }

    .es-design {
      padding-top: 50px;

      &__left-image {
        position: unset;
        margin-bottom: 20px;
      }

      &__title {
        font-size: 24px;
      }
    }

    .es-cross {
      &__subtitle {
        max-width: 70%;
        margin: 0 auto;
        margin-bottom: 30px;
      }

      &__items {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        -webkit-box-align: start;
        align-items: flex-start;
        -webkit-box-pack: center;
        justify-content: center;
      }

      &__single-image {
        max-width: 75%;
      }

      &__single-item-title {
        min-height: 48px;
      }

      &__single {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        max-width: 225px;
        min-width: 225px;
      }
    }
  }

  @media screen and (min-width: 900px) {
    .es-benefits {
      &__content-wrapper {
        padding-top: 74px;
        padding-left: 80px;
        max-width: 600px;
      }

      &__subtitle {
        font-size: 20px;
        margin-bottom: 31px;
      }

      &__description {
        font-size: 19px;
      }

      &__content-title--2 {
        max-width: 435px;
        margin-left: 86px;
        margin-bottom: 75px;
        font-size: 30px;
      }
    }
  }

  @media screen and (min-width: 998px) {
    .es-kv {
      &__title {
        font-size: 140px;
      }

      &__subtitle {
        font-size: 36px;
      }

      &__inner {
        padding-left: 40px;
      }

      &__packshot {
        max-width: 170px;
      }
    }

    .es-description {
      &__img {
        max-width: 475px;
      }

      &__left {
        padding-bottom: 0;
      }

      &__right {
        max-width: 345px;
      }

      &__title {
        font-size: 18px;
      }

      &__subtitle {
        font-size: 18px;
      }
    }

    .es-style {
      margin-top: -45px;

      &__packshot-wrapper {
        margin-top: -45px;
      }

      &__description {
        z-index: 1;
        position: relative;
      }

      &__packshot-desktop-title {
        &--2 {
          top: -16%;
        }
      }
    }

    .es-design {
      padding-top: 0;

      &__title {
        text-align: left;
      }

      &__left {
        display: -webkit-box;
        display: flex;
      }

      &__right {
        display: -webkit-box;
        display: flex;
      }

      &__content {
        margin-right: 10%;
        max-width: 33%;

        &--1 {
          padding-top: 3%;
          margin-right: 10%;

          padding-top: 3%;
          margin-right: 5%;
          max-width: 42%;
        }

        &--2 {
          padding-top: 3%;
          margin-left: 10%;

          margin-left: 4%;
          margin-right: 2%;
          max-width: 46%;
        }
      }
    }

    .es .es-steps {
      &__image {
        margin-bottom: 0;
      }

      &__single {
        max-width: 720px;
      }

      &__single-title {
        font-size: 65px;
      }

      &__single-description {
        text-align: left;

        &--2 {
          text-align: right;
        }
      }
    }

    .es-cross {
      &__single {
        max-width: 295px;
      }

      &__single-item-title {
        min-height: unset;
      }

      &__single-image {
        max-width: 100%;
      }
    }

    .es-restrictions {
      &__image {
        margin-top: -75px;
      }
    }

    .es-cross,
    .es-benefits,
    .es-features,
    .es-design {
      &__title {
        font-size: 28px;
      }
    }

    .es-footer {
      &__image {
        margin-bottom: 40px;
      }

      &__subtitle {
        margin-bottom: 50px;
        font-size: 24px;
      }
    }
  }

  @media screen and (min-width: 1200px) {
    .es-kv {
      padding-bottom: 115px;

      &__logo {
        margin-left: 48px;
        padding-top: 92px;
        margin-bottom: 0;
        max-width: 40%;
      }

      &__content {
        margin-left: 44px;
        max-width: 700px;
      }

      &__title {
        font-size: 170px;
      }

      &__subtitle {
        margin-bottom: 112px;
        font-size: 48px;
      }

      &__packshot {
        max-width: 222px;
        right: 20%;
        top: 7%;
      }

      &__description {
        max-width: 500px;
        font-size: 24px;
      }
    }

    .es-description {
      background: -webkit-gradient(linear,
          left top,
          left bottom,
          color-stop(78%, #72b1c3),
          color-stop(50%, #14284b));
      background: linear-gradient(to bottom, #72b1c3 78%, #14284b 50%);

      &__img {
        max-width: 690px;
        margin-top: -188px;
      }

      &__title {
        font-size: 24px;
      }

      &__subtitle {
        font-size: 24px;
      }

      &__right {
        max-width: 494px;
        margin-right: 11%;
        padding-top: 47px;
      }
    }

    .es-style {
      margin-top: -90px;
      background: -webkit-gradient(linear,
          left top,
          left bottom,
          color-stop(80%, #14284b),
          color-stop(50%, #eeebe6));
      background: linear-gradient(to bottom, #14284b 80%, #eeebe6 50%);

      &__title {
        margin-bottom: 85px;
      }

      &__packshot-wrapper {
        margin-top: -100px;
        max-width: 100%;
      }

      &__description {
        font-size: 23px;
        max-width: 574px;
      }

      &__packshot-desktop-title {
        max-width: 100%;
        font-size: 36px;

        &--1 {
          top: 40%;
          left: 7%;
        }

        &--2 {
          top: -8%;
          left: 38%;
        }

        &--3 {
          top: 43%;
          right: 7%;
        }
      }
    }

    .es-cross,
    .es-benefits,
    .es-features,
    .es-design {
      &__title {
        font-size: 34px;
      }
    }

    .es-features {
      &__bottle-content-image {
        max-width: 100%;
      }

      &__bottle-content--desktop {
        margin-top: -100px;
      }
    }

    .es-benefits {
      background: -webkit-gradient(linear,
          left top,
          left bottom,
          color-stop(46%, #eeebe6),
          color-stop(30%, #72b1c3));
      background: linear-gradient(to bottom, #eeebe6 46%, #72b1c3 30%);

      &__img {
        max-width: 700px;
      }

      &__content-wrapper {
        padding-top: 74px;
        padding-left: 80px;
        max-width: 535px;
      }

      &__subtitle {
        font-size: 23px;
        margin-bottom: 31px;
      }

      &__description {
        font-size: 24px;
      }

      &__content-title {
        &--2 {
          max-width: 435px;
          margin-left: 86px;
          margin-top: -250px;
          margin-bottom: 75px;
          font-size: 35px;
        }
      }

      &__content-list-item {
        max-width: 225px;
      }

      &__content-list-item-title {
        font-size: 18px;
      }

      &__content-list-item-image {
        max-width: 135px;
        margin-bottom: 30px;
      }
    }

    .es-features {
      &__img {
        max-width: 668px;
      }

      &__description {
        font-size: 24px;
      }

      &__bottle-content-icon-title {
        font-size: 19px;
        max-width: 300px;

        &--1 {
          left: -14%;
          top: 47%;
          max-width: 340px;
        }

        &--2 {
          top: 27%;
          right: -5%;
        }

        &--3 {
          max-width: 317px;
          top: 72%;
          right: -12%;
        }
      }
    }

    .es-steps {
      &__single {
        max-width: 793px;

        &--2 {
          margin-left: -12.6%;
          margin-top: -0.1%;
        }

        &--3 {
          margin-left: -2%;
          margin-top: -0.1%;
        }
      }

      &__single-title {
        font-size: 65px;
      }

      &__single-description {
        font-size: 24px;
      }
    }

    .es-restrictions {
      &__description {
        max-width: 80%;
        margin: 0 auto;
        padding-top: 55%;
        font-size: 23px;
      }

      &__disclaimer {
        margin-top: 33px;
        margin-right: 70px;
      }
    }

    .es-design {
      &__content {
        &--1 {
          padding-top: 1%;
          margin-right: 8%;
          max-width: 36%;
        }

        &--2 {
          padding-top: 4%;
          margin-left: 6%;
          max-width: 73%;
          margin-right: 8%;
        }
      }

      &__description {
        font-size: 22px;
      }

      &__left-image,
      &__right-image {
        margin-top: -90px;
        max-width: 675px;
      }

      &__right-image {
        margin-top: -75px;
      }
    }

    .es-cross {
      padding-top: 30px;

      &__single {
        max-width: 340px;
      }

      &__subtitle {
        font-size: 24px;
        max-width: 79%;
      }

      &__single-item-title {
        font-size: 24px;
      }

      &__single-description {
        font-size: 18px;
      }
    }
  }
}