@charset "UTF-8";

@font-face {
  font-family: 'HurmeGeometricSans3-Bold';
  src: local('HurmeGeometricSans3-Bold'),
    url('./static/fonts/HurmeGeometricSans3-Bold.woff2') format('truetype');
}
@font-face {
  font-family: 'HurmeGeometricSans3-Regular';
  src: local('HurmeGeometricSans3-Regular'),
    url('./static/fonts/HurmeGeometricSans3-Regular.woff2') format('truetype');
}
@font-face {
  font-family: 'HurmeGeometricSans3-Black';
  src: local('HurmeGeometricSans3-Black'),
    url('./static/fonts/HurmeGeometricSans3-Black.woff2') format('truetype');
}
@font-face {
  font-family: 'HurmeGeometricSans3-Light';
  src: local('HurmeGeometricSans3-Light'),
    url('./static/fonts/HurmeGeometricSans3-Light.woff2') format('truetype');
}
@font-face {
  font-family: 'Gazpacho-Bold';
  src: local('Gazpacho-Bold'),
    url('./static/fonts/Gazpacho-Bold.woff2') format('truetype');
}
@font-face {
  font-family: 'Gazpacho-Regular';
  src: local('Gazpacho-Regular'),
    url('./static/fonts/Gazpacho-Regular.woff2') format('truetype');
}

$font-regular: 'HurmeGeometricSans3-Regular', sans-serif;
$font-bold: 'HurmeGeometricSans3-Bold', sans-serif;
$font-black: 'HurmeGeometricSans3-Black', sans-serif;
$font-light: 'HurmeGeometricSans3-Light', sans-serif;

$primary: #14284b;
$secondary: #eeebe6;
$white: #ffffff;
$bg-primary: #14284b;
$bg-secondary: #eeebe6;
$bg-tertiary: #72b1c3;
$bg-fourtiary: #e5dcd3;

#es-rc #es-rc-content {
  font-family: $font-regular, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  color: $primary;
  background: #fff;

  * {
    box-sizing: border-box;
  }

  p {
    margin: 0;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }

  img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }

  .es-kv {
    background: url(../images/kv-bg.png) no-repeat center center;
    background-size: cover;
    padding-bottom: 75px;

    &__logo {
      padding-top: 30px;
      margin-bottom: 30px;
      max-width: 90%;
    }

    &__content {
      padding-left: 10px;
      padding-right: 10px;
    }

    &__title {
      margin-bottom: 20px;
      font-size: 50px;
      font-family: $font-black;
      font-weight: 900;
      color: inherit;
    }

    &__subtitle {
      margin-bottom: 30px;
      font-size: 20px;
      font-family: $font-bold;
      font-weight: 700;
    }

    &__description {
      margin-bottom: 20px;
      font-family: $font-bold;
      font-weight: 700;
    }

    &__packshot {
      max-width: 30%;
    }
  }

  .es-description {
    display: flex;
    flex-direction: column-reverse;

    background: linear-gradient(to bottom, $bg-tertiary 50%, $bg-primary 50%);

    &__left {
      padding: 30px 10px;
      padding-left: 0;
    }

    &__right {
      padding: 30px 10px;
    }

    &__img {
      margin-top: -80px;
    }

    &__title {
      margin-bottom: 35px;
      font-size: 16px;
      font-family: $font-bold;
      font-weight: 700;
      color: $secondary;
    }

    &__subtitle {
      margin-bottom: 35px;
      font-size: 16px;
      font-family: $font-regular;
      font-weight: 500;
      color: $secondary;
    }
  }

  .es-style {
    background: $bg-primary;
    padding-bottom: 50px;

    &__title {
      margin-bottom: 20px;
      text-align: center;
      font-size: 20px;
      font-family: $font-bold;
      color: $white;
    }

    &__subtitle {
      margin-bottom: 10px;
      font-size: 18px;
      font-family: $font-bold;
      color: $white;
      text-align: center;
    }

    &__description {
      padding-left: 10px;
      padding-right: 10px;
      margin-bottom: 20px;
      font-size: 16px;
      font-family: $font-regular;
      color: $white;
      text-align: center;
    }

    &__packshot-title {
      margin-top: 20px;
      margin-bottom: 30px;
      font-size: 18px;
      text-align: center;
      font-family: $font-bold;
      color: $white;
      text-align: center;
    }

    &__img {
      max-width: 25%;

      &--desktop {
        max-width: 100%;
        display: none;
      }
    }
  }

  .es-benefits {
    padding-top: 30px;
    padding-bottom: 30px;
    background: linear-gradient(to bottom, $bg-secondary 20%, $bg-tertiary 50%);

    &__img {
      margin-bottom: 30px;
    }

    &__title {
      margin-bottom: 30px;
      font-family: $font-bold;
      text-align: center;
    }

    &__subtitle {
      margin-bottom: 10px;
      font-size: 16px;
      text-align: left;
      font-family: $font-bold;
      color: $primary;
    }

    &__content-title {
      max-width: 230px;
      margin: 0 auto;
      margin-bottom: 30px;
      font-size: 18px;
      font-family: $font-bold;
      color: $white;
      text-align: center;
    }

    &__content-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;
    }
    &__content-list-item {
      max-width: 250px;
    }

    &__content-list-item-image {
      margin-bottom: 20px;
    }

    &__content-list-item-title {
      margin-bottom: 20px;
      padding-left: 10px;
      padding-right: 10px;
      margin-bottom: 20px;
      font-size: 16px;
      font-family: $font-regular;
      color: $white;
      text-align: center;
    }
  }
}
