@font-face {
  font-family: "HurmeGeometricSans3-Bold";
  src: local("HurmeGeometricSans3-Bold"), url("./static/fonts/HurmeGeometricSans3-Bold.woff2") format("truetype");
}
@font-face {
  font-family: "HurmeGeometricSans3-Regular";
  src: local("HurmeGeometricSans3-Regular"), url("./static/fonts/HurmeGeometricSans3-Regular.woff2") format("truetype");
}
@font-face {
  font-family: "HurmeGeometricSans3-Black";
  src: local("HurmeGeometricSans3-Black"), url("./static/fonts/HurmeGeometricSans3-Black.woff2") format("truetype");
}
@font-face {
  font-family: "HurmeGeometricSans3-Light";
  src: local("HurmeGeometricSans3-Light"), url("./static/fonts/HurmeGeometricSans3-Light.woff2") format("truetype");
}
@font-face {
  font-family: "Gazpacho-Bold";
  src: local("Gazpacho-Bold"), url("./static/fonts/Gazpacho-Bold.woff2") format("truetype");
}
@font-face {
  font-family: "Gazpacho-Regular";
  src: local("Gazpacho-Regular"), url("./static/fonts/Gazpacho-Regular.woff2") format("truetype");
}
#es-rc #es-rc-content {
  font-family: "HurmeGeometricSans3-Regular", sans-serif, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  color: #14284b;
  background: #fff;
}
#es-rc #es-rc-content * {
  box-sizing: border-box;
}
#es-rc #es-rc-content p {
  margin: 0;
}
#es-rc #es-rc-content h2,
#es-rc #es-rc-content h3,
#es-rc #es-rc-content h4,
#es-rc #es-rc-content h5,
#es-rc #es-rc-content h6 {
  margin: 0;
}
#es-rc #es-rc-content img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
#es-rc #es-rc-content .es-kv {
  background: url(../images/kv-bg.png) no-repeat center center;
  background-size: cover;
  padding-bottom: 75px;
}
#es-rc #es-rc-content .es-kv__logo {
  padding-top: 30px;
  margin-bottom: 30px;
  max-width: 90%;
}
#es-rc #es-rc-content .es-kv__content {
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}
#es-rc #es-rc-content .es-kv__title {
  margin-bottom: 10px;
  font-size: 70px;
  font-family: "HurmeGeometricSans3-Black", sans-serif;
  font-weight: 900;
  color: inherit;
}
#es-rc #es-rc-content .es-kv__subtitle {
  margin-bottom: 30px;
  font-size: 18px;
  font-family: "HurmeGeometricSans3-Bold", sans-serif;
  font-weight: 700;
}
#es-rc #es-rc-content .es-kv__description {
  margin-bottom: 20px;
  font-family: "HurmeGeometricSans3-Bold", sans-serif;
  font-weight: 700;
}
#es-rc #es-rc-content .es-kv__packshot {
  max-width: 30%;
}
#es-rc #es-rc-content .es-description {
  display: flex;
  flex-direction: column-reverse;
  background: linear-gradient(to bottom, #72b1c3 50%, #14284b 50%);
}
#es-rc #es-rc-content .es-description__left {
  padding: 30px 10px;
  padding-left: 0;
}
#es-rc #es-rc-content .es-description__right {
  padding: 30px 10px;
}
#es-rc #es-rc-content .es-description__img {
  margin-top: -65px;
}
#es-rc #es-rc-content .es-description__title {
  margin-bottom: 35px;
  font-size: 16px;
  font-family: "HurmeGeometricSans3-Bold", sans-serif;
  font-weight: 700;
  color: #eeebe6;
  text-align: center;
}
#es-rc #es-rc-content .es-description__subtitle {
  margin-bottom: 35px;
  font-size: 16px;
  font-family: "HurmeGeometricSans3-Regular", sans-serif;
  font-weight: 500;
  color: #eeebe6;
  text-align: center;
}
#es-rc #es-rc-content .es-style {
  background: #14284b;
  padding-bottom: 50px;
}
#es-rc #es-rc-content .es-style__title {
  margin-bottom: 20px;
  text-align: center;
  font-size: 24px;
  font-family: "HurmeGeometricSans3-Bold", sans-serif;
  color: #ffffff;
  text-align: center;
}
#es-rc #es-rc-content .es-style__subtitle {
  margin-bottom: 10px;
  font-size: 18px;
  font-family: "HurmeGeometricSans3-Bold", sans-serif;
  color: #ffffff;
  text-align: center;
}
#es-rc #es-rc-content .es-style__description {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  font-family: "HurmeGeometricSans3-Regular", sans-serif;
  color: #ffffff;
  text-align: center;
}
#es-rc #es-rc-content .es-style__packshot-title {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 24px;
  font-family: "HurmeGeometricSans3-Bold", sans-serif;
  color: #ffffff;
  text-align: center;
}
#es-rc #es-rc-content .es-style__img {
  max-width: 25%;
}
#es-rc #es-rc-content .es-style__img--desktop {
  max-width: 100%;
  display: none;
}
#es-rc #es-rc-content .es-benefits {
  padding-top: 30px;
  padding-bottom: 30px;
  background: linear-gradient(to bottom, #eeebe6 20%, #72b1c3 50%);
}
#es-rc #es-rc-content .es-benefits__img {
  margin-bottom: 30px;
}
#es-rc #es-rc-content .es-benefits__title {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 30px;
  font-size: 24px;
  font-family: "HurmeGeometricSans3-Bold", sans-serif;
  text-align: center;
}
#es-rc #es-rc-content .es-benefits__subtitle {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  text-align: left;
  font-family: "HurmeGeometricSans3-Bold", sans-serif;
  color: #14284b;
}
#es-rc #es-rc-content .es-benefits__description {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  font-family: "HurmeGeometricSans3-Regular", sans-serif;
}
#es-rc #es-rc-content .es-benefits__content-title {
  max-width: 230px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 24px;
  font-family: "HurmeGeometricSans3-Bold", sans-serif;
  color: #ffffff;
  text-align: center;
}
#es-rc #es-rc-content .es-benefits__content-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
#es-rc #es-rc-content .es-benefits__content-list-item {
  max-width: 250px;
}
#es-rc #es-rc-content .es-benefits__content-list-item-image {
  margin-bottom: 20px;
}
#es-rc #es-rc-content .es-benefits__content-list-item-title {
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  font-family: "HurmeGeometricSans3-Regular", sans-serif;
  color: #ffffff;
  text-align: center;
}
#es-rc #es-rc-content .es-features {
  background: linear-gradient(to bottom, #72b1c3 10%, #eeebe6 10%);
}
#es-rc #es-rc-content .es-features__bottle-content {
  padding-bottom: 50px;
}
#es-rc #es-rc-content .es-features__title {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 30px;
  font-size: 24px;
  font-family: "HurmeGeometricSans3-Bold", sans-serif;
  text-align: center;
}
#es-rc #es-rc-content .es-features__description {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  font-family: "HurmeGeometricSans3-Regular", sans-serif;
}
#es-rc #es-rc-content .es-features__img {
  margin-bottom: 30px;
}
#es-rc #es-rc-content .es-features__bottle-content-image {
  margin-bottom: 30px;
  max-width: 40%;
}
#es-rc #es-rc-content .es-features__bottle-content-icons {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
#es-rc #es-rc-content .es-features__bottle-content-single {
  margin-bottom: 30px;
  max-width: 250px;
  margin: 0 auto;
}
#es-rc #es-rc-content .es-features__bottle-content-icon-image {
  margin-bottom: 20px;
}
#es-rc #es-rc-content .es-features__bottle-content-icon-title {
  font-size: 16px;
  font-family: "HurmeGeometricSans3-Regular", sans-serif;
  text-align: center;
}
#es-rc #es-rc-content .es-steps {
  background: #eeebe6;
  padding-bottom: 50px;
}
#es-rc #es-rc-content .es-steps__image {
  margin-bottom: 30px;
}
#es-rc #es-rc-content .es-steps__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
#es-rc #es-rc-content .es-steps__single {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 275px;
}
#es-rc #es-rc-content .es-steps__single-title {
  font-size: 30px;
  margin-bottom: 10px;
  font-family: "HurmeGeometricSans3-Bold", sans-serif;
  text-align: center;
}
#es-rc #es-rc-content .es-steps__single-description {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  font-family: "HurmeGeometricSans3-Regular", sans-serif;
  text-align: center;
}
#es-rc #es-rc-content .es-restrictions {
  background-color: #14284b;
  position: relative;
  padding-bottom: 20px;
}
#es-rc #es-rc-content .es-restrictions__image {
  position: absolute;
  margin-top: -20px;
  top: 0;
  left: 0;
}
#es-rc #es-rc-content .es-restrictions__description {
  padding-top: 60%;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  font-family: "HurmeGeometricSans3-Regular", sans-serif;
  color: #eeebe6;
  text-align: center;
}
#es-rc #es-rc-content .es-restrictions__description--bold {
  display: block;
  font-family: "HurmeGeometricSans3-Bold", sans-serif;
}
#es-rc #es-rc-content .es-restrictions__disclaimer {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  font-size: 12px;
  font-family: "HurmeGeometricSans3-Regular", sans-serif;
  color: #eeebe6;
  text-align: right;
}
#es-rc #es-rc-content .es-design {
  background: linear-gradient(to bottom, #e5dcd3 95%, #eeebe6 10%);
  padding-top: 100%;
  position: relative;
  padding-bottom: 30px;
}
#es-rc #es-rc-content .es-design__title {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 30px;
  font-size: 24px;
  font-family: "HurmeGeometricSans3-Bold", sans-serif;
  text-align: center;
}
#es-rc #es-rc-content .es-design__description {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  font-family: "HurmeGeometricSans3-Regular", sans-serif;
}
#es-rc #es-rc-content .es-design__description b {
  font-family: "HurmeGeometricSans3-Bold", sans-serif;
}
#es-rc #es-rc-content .es-design__left-image {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -20px;
}
#es-rc #es-rc-content .es-design__content {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
}
#es-rc #es-rc-content .es-cross {
  background: #eeebe6;
  padding-bottom: 30px;
}
#es-rc #es-rc-content .es-cross__title {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 30px;
  font-size: 24px;
  font-family: "HurmeGeometricSans3-Bold", sans-serif;
  text-align: center;
}
#es-rc #es-rc-content .es-cross__subtitle {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  font-family: "HurmeGeometricSans3-Regular", sans-serif;
  text-align: center;
}
#es-rc #es-rc-content .es-cross__single-image {
  max-width: 75%;
  margin-bottom: 30px;
}
#es-rc #es-rc-content .es-cross__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
#es-rc #es-rc-content .es-cross__single-item-title {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  font-family: "HurmeGeometricSans3-Bold", sans-serif;
  text-align: center;
}
#es-rc #es-rc-content .es-cross__single-description {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  font-family: "HurmeGeometricSans3-Regular", sans-serif;
  text-align: center;
}
#es-rc #es-rc-content .es-footer {
  background: #eeebe6;
  padding-bottom: 30px;
}
#es-rc #es-rc-content .es-footer__image {
  max-width: 90%;
  margin-bottom: 20px;
}
#es-rc #es-rc-content .es-footer__subtitle {
  margin-bottom: 30px;
  font-size: 16px;
  font-family: "HurmeGeometricSans3-Bold", sans-serif;
  font-weight: 700;
  text-align: center;
}/*# sourceMappingURL=styles.css.map */