@charset "UTF-8";

@font-face {
  font-family: 'HurmeGeometricSans3-Bold';
  src: local('HurmeGeometricSans3-Bold'),
    url('./static/fonts/HurmeGeometricSans3-Bold.woff2') format('truetype');
}
@font-face {
  font-family: 'HurmeGeometricSans3-Regular';
  src: local('HurmeGeometricSans3-Regular'),
    url('./static/fonts/HurmeGeometricSans3-Regular.woff2') format('truetype');
}
@font-face {
  font-family: 'HurmeGeometricSans3-Black';
  src: local('HurmeGeometricSans3-Black'),
    url('./static/fonts/HurmeGeometricSans3-Black.woff2') format('truetype');
}
@font-face {
  font-family: 'HurmeGeometricSans3-Light';
  src: local('HurmeGeometricSans3-Light'),
    url('./static/fonts/HurmeGeometricSans3-Light.woff2') format('truetype');
}
@font-face {
  font-family: 'Gazpacho-Bold';
  src: local('Gazpacho-Bold'),
    url('./static/fonts/Gazpacho-Bold.woff2') format('truetype');
}
@font-face {
  font-family: 'Gazpacho-Regular';
  src: local('Gazpacho-Regular'),
    url('./static/fonts/Gazpacho-Regular.woff2') format('truetype');
}

$font-regular: 'HurmeGeometricSans3-Regular', sans-serif;
$font-bold: 'HurmeGeometricSans3-Bold', sans-serif;
$font-black: 'HurmeGeometricSans3-Black', sans-serif;
$font-light: 'HurmeGeometricSans3-Light', sans-serif;

$primary: #000000;
$secondary: #ffffff;
$bg-primary: #e8e2d4;

#es-rc #es-rc-content {
  font-family: $font-regular, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  color: #000;
  background: #fff;

  * {
    box-sizing: border-box;
  }

  p {
    margin: 0;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }

  img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }
}
